* {
  background-color: black;
  padding: 0;
  margin: 0;
  color: #1EFF3B;
  font-family: "Meslo", sans-serif;
}

@font-face {
  font-family: "Meslo";
  src: url('/MesloLGL-Regular.ttf');
}

#lists {
  list-style-type: none;
  font-size: 13px;

}

p {
  background: black;
  color: white;
}

.matrix-code {
  padding: 0;
  margin: 0;
  height: 200px;
  width: 100%;
  background: url('/code.gif');
}

h1, h3 {
  text-align: center;
}

.item-divs {
  -webkit-box-shadow: 10px 10px 56px 0px rgba(5,84,5,0.75);
  -moz-box-shadow: 10px 10px 56px 0px rgba(5,84,5,0.75);
  box-shadow: 10px 10px 56px 0px rgba(5,84,5,0.75);
margin: 5px;
padding: 5px;
}

.true {
  color: red;
}

/*.item-divs
{
  position: relative;
}
.item-divs:before, .item-divs:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.item-divs:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}*/




/* test falling illusion */

#d1 {
  background: hsl(0, 0%, 15%);
  width: 100%;
  height: 1000px;
  position: relative;
}

#d2 {
  background: hsl(0, 0%, 13.5%);
  /*width: 90%;
  height: 90%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#d3 {
  background: hsl(0, 0%, 12%);
  /*width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#d4 {
  background: hsl(0, 0%, 10.5%);
  /*width: 70%;
  height: 70%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#d5 {
  background: hsl(0, 0%, 9%);
  /*width: 60%;
  height: 60%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#d6 {
  background: hsl(0, 0%, 7.5%);
  /*width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}

#d7 {
  background: hsl(0, 0%, 6%);
  /*width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}

#d8 {
  background: hsl(0, 0%, 4.5%);
  /*width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}

#d9 {
  background: hsl(0, 0%, 3%);
  /*width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}

#d10 {
  background: hsl(0, 0%, 1.5%);
  /*width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}

#d11 {
  background: hsl(0, 0%, 0%);
  /*width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;*/
  width: 95%;
  height: 95%;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}
